<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title,links)">
    <!--/*  Title will be replaced by their respective titles in the calling template. */-->
    <title th:replace="${title}">方寸堂</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="//static/css/bootstrap.min.css" rel="stylesheet" th:href="${pub.staticPath('/static/css/bootstrap.min.css')}" />
    <link href="//static/css/font-awesome.min.css" rel="stylesheet" th:href="${pub.staticPath('/static/css/font-awesome.min.css')}" />
    <link href="//static/css/admin.min.css" rel="stylesheet" th:href="${pub.staticPath('/static/css/admin.min.css')}" />
    <link href="//static/css/dropzone.css" rel="stylesheet" th:href="${pub.staticPath('/static/css/dropzone.css')}" />

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden" th:fragment="body(content,slide_menu,scripts)">
        <div id="wrapper">
        <!--左侧导航开始-->

        <nav th:replace="fragment/left::content">
        </nav>

        <!--左侧导航结束-->
        <div id="page-wrapper" class="gray-bg dashbard-1">

            <th:block th:replace="${content}" />

            <!--右侧边栏结束-->
            <div class="footer navbar-fixed-bottom">
                <div style="">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <div class="pull-right">
                    &copy; 2017 <a href="http://www.fangcun.com/" target="_blank">fangcun.com</a>
                </div>
            </div>
        </div>
    </div>

        <script src="//static/js/jquery.min.js" th:src="${pub.staticPath('/static/js/jquery.min.js')}"></script>
        <script src="//static/js/bootstrap.min.js?v=3.3.5" th:src="${pub.staticPath('/static/js/bootstrap.min.js')}"></script>
        <script src="//static/js/plugins/jtools.js" th:src="${pub.staticPath('/static/js/plugins/jtools.js')}"></script>
        <script src="//static/js/plugins/layer/layer.js" th:src="${pub.staticPath('/static/js/plugins/layer/layer.js')}"></script>
        <script src="//static/js/plugins/icheck.min.js" th:src="${pub.staticPath('/static/js/plugins/icheck.min.js')}"></script>
        <script src="//static/js/fct.js" th:src="${pub.staticPath('/static/js/fct.js')}"></script>
        <!--菜单高亮-->
        <script type="application/javascript">

            var fct_imageUrl = "[[${pub.imageUrl}]]";

            $(function () {

                var current_slide = "[[${slide_menu}]]";

                var arr =  current_slide.split('_');
                var slideName = "#slide_" + arr[0];
                $(slideName).addClass('active');
                $(slideName+" ul").children('li').each(
                    function (i,t) {
                        var view = $(t).attr('data-view');
                        if (view == arr[1]) {
                            $(t).addClass('active');
                        }
                    }
                );

                $(".upPassword").click(function () {
                    JQbox.open({
                        title:"更新密码",
                        width: 500,
                        url: '/sys/users/uppwd'
                    });
                });
            })
        </script>

        <script src="//static/js/hplus.min.js?v=4.0.0" th:src="${pub.staticPath('/static/js/hplus.min.js')}"></script>

        <th:block th:replace="${scripts}" />

</body>
</html>