<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/layout :: header(~{this :: title}, ~{this :: .custom-link})">
    <title>方寸堂-宝贝品级管理</title>
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/css/task/task.css" th:href="@{/resources/css/task/task.css}" />

</head>
<body th:replace="fragment/layout::body(~{ :: .table},'goods_grade',~{::.js})">

<!--/*@thymesVar id="name" type="java.lang.String"*/-->

<div th:each="grade : ${lsGrade}" class="table">
    <div th:text="${grade.id}"></div>
    <div th:text="${grade.name}"></div>
</div>

<script type="application/javascript" class="js">

</script>
</body>
</html>