<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/layout :: header(~{this :: title},~{::link})">
    <title>方寸堂-退款/退换货管理</title>
    <link />
</head>

<body th:replace="fragment/layout::body(~{ :: .bodyContent},'goods_comment',~{::.script})">

<div class="row border-bottom bodyContent">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="top_search">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" class="form-horizontal" method="get">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <div class="col-sm-5">
                                    <select class="col-sm-4 form-control" name="selkey">
                                        <option value="orderid" th:selected="${query.selkey eq 'orderid'} ? 'selected'">订单号</option>
                                        <option value="cellphone" th:selected="${query.selkey eq 'name'} ? 'selected'">手机号码</option>
                                    </select>
                                </div>
                                <div class="col-sm-7">
                                    <input name="selvalue" th:value="${query.selvalue}" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control inline" name="status">
                                    <option value="">选择状态</option>
                                    <option value="0" th:selected="${query.status eq 0} ? 'selected'">待审核</option>
                                    <option value="-1" th:selected="${query.status eq 1} ? 'selected'">已审核</option>
                                </select>
                            </div>
                            <div class="col-sm-5 form-inline">
                                <div class="form-group">
                                    <div class="col-sm-7">
                                        <label>评论时间：</label>
                                        <input type="text" class="laydate-icon form-control layer-date" placeholder="开始时间" id="starttime" name="starttime" th:value="${query.starttime}" >
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control laydate-icon layer-date" placeholder="结束时间" id="endtime" name="endtime" th:value="${query.endtime}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-sm btn-primary"> 搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="wrapper wrapper-content animated fadeInRight bodyContent">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">图片/名称</th>
                                <th>订单号</th>
                                <th>用户</th>
                                <th>图文内容</th>
                                <th>评分</th>
                                <th>更新时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment : ${lsComment}">
                                <td class="text-center">
                                <img th:src="${pub.thumbnailPath('')}" width="80" height="80" />
                                <br>
                                <span th:text="${commnet.cellphone}"></span>
                                </td>
                                <td th:text="${commnet.orderId}"></td>
                                <td th:text="${commnet.cellPhone}"></td>
                                <td th:text="${comment.content}"></td>
                                <td>
                                    <span th:text="'描述分：' + ${goods.descScore}"></span><br />
                                    <span th:text="'服务分：' + ${goods.saleScore}"></span><br />
                                    <span th:text="'物流分：' + ${goods.logisticsScore}"></span>
                                </td>
                                <td th:text="${#dates.format(comment.updateTime, 'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <a href="javascript:;" th:if="${comment.status eq 1}" th:attr="data-id=${comment.id}" class="statusClick" data-action="pass"><i class="fa fa-check text-navy"></i> 通过</a>
                                    <a href="javascript:;" th:if="${comment.status eq 0}" th:attr="data-id=${comment.id}" class="statusClick" data-actio="refuse"><i class="fa fa-close text-navy"></i> 拒绝</a>
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-xs btn-outline btn-default statusClick" th:attr="data-id=${m.id}" data-actio="delete">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="13" class="footable-visible">
                                    <div class="pager pull-right" th:utext="${pageHtml}"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" src="/static/js/plugins/layer/laydate/laydate.js" class="script"></script>
<script type="application/javascript" class="script">

    $(function () {
        laydate({elem:"#starttime",event:"focus",format:"YYYY-MM-DD hh:mm"});
        laydate({elem:"#endtime",event:"focus",format:"YYYY-MM-DD hh:mm"});

        $(".statusClick").click(function () {
            var action = $(this).attr("data-action");
            var id = $(this).attr("data-id");
            var mythis = this;
            layer.confirm("确认要执行此操作？", {
                btn: ['确定', '取消'], //按钮
                title:'提示'
            }, function () {
                JQAjax.post(mythis, {
                    form:"",
                    url: "/goods/comment/upstatus?id="+ id +"&action="+action,
                    wait:true
                });
            }, function () {
                layer.close();
            });
        });

    })
</script>
</body>
</html>