<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="ibox float-e-margins">
    <div class="ibox-content" style="border-style:none;">
        <div class="alert alert-danger alert-dismissable dn" id="valid_remind"></div>
        <form class="form-horizontal m-t" id="submitForm">
            <input type="hidden" name="id" th:value="${dynamic.id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">艺人：</label>
                <div class="col-sm-4">
                    <select class="form-control" name="artistid">
                        <option value="0">请选择艺人</option>
                        <th:block th:each="artist : ${cache.findArtist()}">
                            <option th:text="${artist.name}" th:value="${artist.id}" th:selected="${artist.id eq dynamic.artistId} ? 'selected'"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">视频Id：</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input name="videoid" th:value="${dynamic.videoId}" type="text" id="videoId" class="form-control" placeholder="输入视频id" />
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn btn-warning" id="selVideo">获取</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">视频地址：</label>
                <div class="col-sm-9">
                    <input name="videourl" th:value="${dynamic.videoUrl}" id="videoUrl" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">图片：</label>
                <div class="col-sm-9">
                    <input name="images" th:value="${dynamic.images}" type="hidden" id="videoImg" class="form-control" />
                    <div id="dropImages" class="dropzone">
                        <div class="dropzone-previews"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">审核状态：</label>
                <div class="col-sm-2">
                    <label class="checkbox-inline i-checks">
                        <input type="checkbox" name="status" th:value="1" th:checked="${dynamic.status eq 1} ? 'checked'" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容：</label>
                <div class="col-sm-9">
                    <textarea name="content" th:text="${dynamic.content}" class="form-control" style="height: 50px;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-3">
                    <button class="btn btn-primary" type="button" id="btnClick">确认保存</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script th:inline="javascript">

    $("#btnClick").click(function () {
        JQAjax.post(this, {
            form:"submitForm",
            url: '/artist/dynamic/save',
            wait:true
        });
    });

    $("#selVideo").click(function () {
        var id = $("#videoId").val();
        JQAjax.post(this, {
            form:"",
            url: '/source/video/search?id='+id,
            wait:true
        });
    })

    webUploads($('#dropImages'), {
        url: '/upload/image',
        input: 'videoImg',
        max: 9
    });


    var searchVideo = function (data) {
        selectVideo({
            id:"videoId",
            url:"videoUrl",
            img:"videoImg",
            dropid:"dropImages",
            data:data
        });
    };

    $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"});

</script>

</html>
