<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/layout :: header(~{this :: title},~{::link})">
    <title>方寸堂-材质管理</title>
    <link />
</head>

<body th:replace="fragment/layout::body(~{ :: .bodyContent},'goods_material',~{::.script})">

<div class="row border-bottom bodyContent">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="">
            <div class="minimalize-styl-2">
                <form action="" method="get">
                    <div class="input-group col-sm-3 pull-left">
                        <input type="text" placeholder="请输入泥料名称" value="" class="input-sm form-control" name="q">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                    </div>
                </form>
                <div class="pull-right" style="padding-right:20px;">
                    <a class="btn btn-default btn-outline btn-sm" th:href="@{/goods/material/create}">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span class="bold">创建</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="wrapper wrapper-content animated fadeInRight bodyContent">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>图片/名称</th>
                                <th>状态</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="m : ${lsMaterial}">
                                <td th:text="${m.id}"></td>
                                <td>
                                    <img th:src="${pub.thumbnailPath(m.images)}" class="loadimg" width="80" height="80" />
                                    <br>
                                    <span th:text="${m.name}"></span>
                                </td>
                                <td>
                                    <a href="javascript:;" th:if="${m.status eq 0}" th:attr="data-id=${m.id}" th:class="statusClick" title="待审核"><i class="fa fa-close"></i> </a>
                                    <a href="javascript:;" th:if="${m.status eq 1}" th:attr="data-id=${m.id}" th:class="statusClick" title="已审核"><i class="fa fa-check text-navy"></i> </a>
                                </td>
                                <td th:text="${#dates.format(m.updateTime, 'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <a th:href="@{/goods/material/create(id=${m.id})}" class="btn btn-xs btn-outline btn-default update">修改</a>
                                    <a href="javascript:;" class="btn btn-xs btn-outline btn-danger delete" th:attr="data-id=${m.id}" >删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="footable-visible">
                                    <div class="pager pull-right" th:utext="${pageHtml}"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->


<script type="application/javascript" class="script">

    $(function () {
        $(".statusClick").click(function () {
            var id = $(this).attr("data-id");
            JQAjax.post(this, {
                form:"",
                url: '/goods/material/upstatus?id='+id
            });
        });

        $(".delete").click(function () {
            var id = $(this).attr("data-id");
            var mythis = this;
            layer.confirm("确认要执行此操作？", {
                btn: ['确定', '取消'], //按钮
                title:'提示'
            }, function () {
                JQAjax.post(mythis, {
                    form:"",
                    url: '/goods/material/delete?id='+id,
                    wait:true
                });
            }, function () {
                layer.close();
            });
        });
    })
</script>
</body>
</html>