<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="ibox float-e-margins">
        <div class="ibox-content" style="border-style:none;">
            <div class="alert alert-danger alert-dismissable dn" id="valid_remind"></div>
            <form class="form-horizontal m-t" id="submitForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">名称：</label>
                    <div class="col-sm-8">
                        <input name="name" th:value="${goodsGrade.name}" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">图片：</label>
                    <div class="col-sm-8">
                        <input name="img" th:value="${goodsGrade.img}" type="hidden" id="imgPath" class="form-control" />
                        <div id="dropzoneDemo" class="dropzone">
                            <div class="dropzone-previews"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">排序值：</label>
                    <div class="col-sm-8">
                        <input name="sortindex" th:value="${goodsGrade.sortIndex}" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-primary" type="button" id="btnClick">确认保存</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script th:inline="javascript">
        $("#btnClick").click(function () {
            JQAjax.post(this, {
                form:"submitForm",
                url: '/goods/grade/save?id='+[[${goodsGrade.id}]],
                wait:true
            });
        });

        webUploads($('#dropzoneDemo'), {
            url: '/upload/image',
            input: 'imgPath',
            max: 1
        });

    </script>

</html>
