<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/layout :: header(~{this :: title},~{::link})">
    <title>方寸堂-宝贝品级管理</title>
    <link/>
</head>

<body th:replace="fragment/layout::body(~{ :: .bodyContent},'goods_grade',~{::.script})">

<div class="row border-bottom bodyContent">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="">
            <div class="minimalize-styl-2">
                <form action="" method="get">
                    <div class="input-group col-sm-3 pull-left">
                        <input type="text" placeholder="请输入品级名称" value="" class="input-sm form-control" name="q">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                    </div>
                </form>
                <div class="pull-right" style="padding-right:20px;">
                    <a class="btn btn-default btn-outline btn-sm update">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span class="bold">创建</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="wrapper wrapper-content animated fadeInRight bodyContent">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>名称</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="grade : ${lsGrade}">
                                <td th:text="${grade.id}"></td>
                                <td th:text="${grade.name}"></td>
                                <td th:text="${grade.sortIndex}"></td>
                                <td>
                                    <a href="javascript:;" class="btn btn-xs btn-outline btn-default update" th:attr="data-id=${grade.id}" >修改</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="12" class="footable-visible">
                                    <div class="pager pull-right">

                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->


<script type="application/javascript" class="script">

    $(function () {
        $(".update").click(function () {
            var id = $(this).attr("data-id");
            if(!id){
                id=0;
            }
            JQbox.open({
                title:"宝贝品级",
                width: 500,
                url: '/goods/grade/create?id=' + id
            })
        });

        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
    })
</script>
</body>
</html>