<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="ibox float-e-margins">
    <div class="ibox-content" style="border-style:none;">
        <form class="form-horizontal m-t" id="submitForm">
            <div class="form-group">
                <label class="col-sm-3 control-label">消息Id：</label>
                <div class="col-sm-8">
                <span class="form-control" th:text="${message.id}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">消息类型：</label>
                <div class="col-sm-8">
                    <span th:text="${message.typeId}" class="form-control"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">消息体：</label>
                <div class="col-sm-8">
                    <span th:text="${message.body}" class="form-control"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">错误消息：</label>
                <div class="col-sm-8">
                    <span th:text="${messge.failMessage}" class="form-control"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <span th:text="${#dates.format(message.createTime, 'yyyy-MM-dd HH:mm')}" class="form-control"></span>
                </div>
            </div>
        </form>
    </div>
</div>

</html>
